/* font family import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* global styles starts */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.heading{
  color: rgb(39, 39, 39);
  font-size: 52.8px;
  font-weight: 800;
  line-height: 63.36px;
  margin-bottom: 21.12px;
}

.title{
  color: rgb(39, 39, 39);
  font-size: 26.4px;
  font-weight: 800;
  line-height: 31.68px;
  text-align: center;
  margin-bottom: 15.84px;
}

.title span{
  color: #E55473;
}

.para{
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 11.88px;
  font-weight: 400;
  line-height: 19.8px;
  text-align: center;
  margin-bottom: 21.12px;
  max-width: 395px;
}

.container{
  max-width: 958px;
  margin: 0 auto;
}

.bg-color{
  background-color: rgba(229, 84, 115, 0.1);
}

.btn{
  background-color: #E55473;
  color: rgb(255, 255, 255);
  font-size: 13.2px;
  font-weight: 700;
  line-height: 15.84px;
  padding: 13.2px 28.38px;
  border: 2px solid #E55473;
  border-radius: 8px;
  transition: all .2s ease;
  cursor: pointer;
}

.btn:hover{
  background-color: white;
  color: #E55473;
}
/* global styles ends */
/* body starts */
/* header styles starts */
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 566px;
}

.header .header-text{
  max-width: 471px;
}
.header .header-text p{
  text-align: left;
  max-width: 420px;
}

.header .featured-image img{
  max-width: 423px;
  padding-top: 34px;
}
/* header styles ends */
/* featured section starts */
.featured-section{
  margin: 120px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured-section .images{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 20px;
}

.images img{
  border-radius: 50% 50% 0% 0%;
  width: 300.69px;
  height: 350.37px;
  padding: 70px 50px 0px;
}

.images .image1 img{
  background-color: #A7216226;
}
.images .image2 img{
  background-color: #0597A026;
}
.images .image3 img{
  background-color: #477D1126;
}

.images p{
  color: rgb(39, 39, 39);
  font-size: 15.84px;
  font-weight: 700;
  line-height: 23.1px;
  margin-top: 21.22px;
  text-align: center;
  text-decoration-line: underline;
}
/* featured section ends */
/* service section starts */
.service .service-container{
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  height: 213px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 66px;
}

.service-container .service-parts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgba(39, 39, 39, 0.8);
  font-size: 15.84px;
  font-weight: 600;
  line-height: 23.1px;
}
.service-parts img{
  width: 58.54px;
  height: 58.58px;
  margin-bottom: 17.81px;
  }
/* service section ends */
/* offer section starts */
.offer-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 123.77px;
  margin: 80px auto;
  height: 414px;
}

.offer-container .offer-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.offer-container img{
  width: 211.61px;
}
/* offer section ends */
/* instagram section starts */
.insta{
  margin-top: 90px auto;
  display: flex;
  flex-direction: column;
}
.insta .insta-images{
  width: 228px;
  height: 264px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
}
.insta-images img{
  width: 100%;
  height: 100%;
}

.insta p{
  margin: 0px auto 21.12px;
}
/* instagram section ends */
/* body ends */